[submodule "external/PLEX"]
	path = external/PLEX
	url = git@github.com:stoianmihail/PLEX.git
[submodule "external/PGM-index"]
	path = external/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "external/vptree"]
	path = external/vptree
	url = https://github.com/pderkowski/vptree.git
[submodule "external/m-tree"]
	path = external/m-tree
	url = git@github.com:dbrumbaugh/M-Tree
[submodule "external/alex"]
	path = external/alex
	url = https://github.com/microsoft/ALEX
[submodule "external/psudb-common"]
	path = external/psudb-common
	url = https://github.com/psu-db/psudb-common
[submodule "external/ctpl"]
	path = external/ctpl
	url = git@github.com:vit-vit/CTPL.git
[submodule "external/fast-succinct-trie"]
	path = external/fast-succinct-trie
	url = git@github.com:efficient/fast-succinct-trie.git
[submodule "external/louds-patricia"]
	path = external/louds-patricia
	url = git@github.com:s-yata/louds-patricia.git
[submodule "external/louds-fst"]
	path = external/louds-fst
	url = git@github.com:kampersanda/fast_succinct_trie.git
[submodule "external/fast_succinct_trie"]
	path = external/fast_succinct_trie
	url = git@github.com:dbrumbaugh/fast_succinct_trie.git
[submodule "external/poplar-trie"]
	path = external/poplar-trie
	url = git@github.com:kampersanda/poplar-trie.git
