[submodule "external/PLEX"]
	path = external/PLEX
	url = git@github.com:stoianmihail/PLEX.git
[submodule "external/PGM-index"]
	path = external/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "external/vptree"]
	path = external/vptree
	url = https://github.com/pderkowski/vptree.git
[submodule "external/m-tree"]
	path = external/m-tree
	url = git@github.com:dbrumbaugh/M-Tree
[submodule "external/alex"]
	path = external/alex
	url = https://github.com/microsoft/ALEX
[submodule "external/psudb-common"]
	path = external/psudb-common
	url = git@github.com/psu-db/psudb-common
[submodule "external/ctpl"]
	path = external/ctpl
	url = git@github.com:vit-vit/CTPL.git
